body{background:palegreen;}

header{
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke ;
	box-sizing: border-box;
	
}

img{
	width: 100%;
	height: 300px;
	
}

h1{ text-align: center;
	color: black;
	font-size: 40px;}

p{ text-align:justify;
		font-size:20px }
			
footer{
	background:green;
    bottom: 0;
    color: black;
    width: 100%;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: small;
}

